body{
    background-color: #17181f;
    color: #aaa;
   
}
main{
    max-width: 300px;
    margin: 20px auto;
}
*{
    box-sizing: border-box;
   

}
form {
    border: 3px solid #30313D;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}
form input[type="text"]{
    background:none;
    border: 0;
    color: white;
   display: block;
    padding: 5px 8px;
    width: 100%;

}
form button {
    background-color: #61DAFB;
    border: 0;
    border-radius: 6px;
    cursor: pointer;

}
div.task{
    background-color: #30313D;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    transition: opacity 0.6s linear;
}
div.task.done{
    opacity: 0.5;
    fill: rgb(255, 255, 255);
   
}
div.task svg{
    
    height: 20px;
    margin-right: 4px;
    fill:#61DAFB

}
div.task span{
    position: relative;
   flex-grow: 1;
}
div.task span::before{
    content: " ";
    display: block;
    width: 0;
    background-color: whitesmoke;
    position: absolute;
    top: 10px;
    transition: width .1s linear;
}
div.task.done span::before{
    width: 100%;
    
}
h1{
    text-align: center;
}
button.tarsh{
    background: none;
    border: none;
    cursor: pointer;
}

button.tarsh svg{
    fill: red;
}